{% extends "index_base.html" %} {% load static %} {% block body %}
    <!--suppress SpellCheckingInspection -->

    <div class="row">
        <div class="col">
            <h4>Wszystkie miejsca</h4>
            <form method="POST">
                {% csrf_token %} Sortuj według:
                <select name="sort">
                    <option value="nazwar">Nazwy rosnąco</option>
                    <option value="nazwam">Nazwy malejąco</option>
                </select>
                <input type="submit" value="OK" class="btn btn-secondary btn-sm">
            </form>
        </div>
        <div class="col-auto">
            <a href="/../miejsce_dodaj/" button class="btn btn-primary">Dodaj miejsce</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                {% for place in places %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="card" style="width: 18rem; margin: 0 auto;">
                            <img class="card-img-top" src=" {{ place.IconURL }} " alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ place.Name }}</h5>
                                <p class="card-text">{{ place.Location }}</p>
                                <p class="card-text">{{ place.Description }}</p>
                                <a href="/miejsce_id/{{ place.PlaceID }}" class="btn btn-primary">Szczegóły</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}